In [4]:
import pandas as pd
from sqlalchemy import create_engine
from config import user
from config import password

In [7]:
squirrel = 'Resources/Data/2018_central_park_squirrel_census.csv'

In [8]:
squirrel_df = pd.read_csv(squirrel)
squirrel_df.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10192018,4,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10142018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10172018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)

In [21]:
squirrel_df_mod = squirrel_df.rename(columns = {"X":"lat", "Y":"lng", "Unique Squirrel ID": "unique_squirrel_id", "Age":"age", "Date": "date", 
                                                "Hectare":"hectare", "Hectare Squirrel Number": "hectare_squirrel_no", 
                                                "Approaches":"approaches", "Indifferent":"indifferent", "Runs from": "runs_from", 
                                                "Lat/Long": "lat_lng"})

# Cleaned Location Data (lat/lng, squirrel ID and date)

In [22]:
squirrel_df_loc = squirrel_df_mod[['lat', 'lng', 'unique_squirrel_id', 'date', 'lat_lng']]
squirrel_df_loc.head()

,lat,lng,unique_squirrel_id,date,lat_lng
0,-73.956134,40.794082,37F-PM-1014-03,10142018,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,10192018,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,10142018,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,10172018,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,10172018,POINT (-73.9702676472613 40.7762126854894)

# Cleaned Interaction Data (lat/lng, squirrel ID, date and approach types)

In [23]:
squirrel_df_interact = squirrel_df_mod[['lat', 'lng', 'unique_squirrel_id', 'date', 'approaches', 'indifferent', 'runs_from', 'lat_lng']]
squirrel_df_interact.head()

,lat,lng,unique_squirrel_id,date,approaches,indifferent,runs_from,lat_lng
0,-73.956134,40.794082,37F-PM-1014-03,10142018,False,False,False,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,10192018,False,False,False,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,10142018,False,False,False,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,10172018,False,False,True,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,10172018,False,False,False,POINT (-73.9702676472613 40.7762126854894)

# Cleaned Hectare Location Data (lat/lng, squirrel ID, date, hectare, hectare_squirrel_no)

In [25]:
squirrel_df_map_loc = squirrel_df_mod[['lat', 'lng', 'unique_squirrel_id', 'date', 'hectare', 'hectare_squirrel_no', 
                                       'lat_lng']]
squirrel_df_map_loc.head()

,lat,lng,unique_squirrel_id,date,hectare,hectare_squirrel_no,lat_lng
0,-73.956134,40.794082,37F-PM-1014-03,10142018,37F,3,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,10192018,21B,4,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,10142018,11B,8,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,10172018,32E,14,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,10172018,13E,5,POINT (-73.9702676472613 40.7762126854894)